<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/toastr.min.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/Utils.js")
    @Scripts.Render("~/Scripts/toastr.min.js")

    <style>
        h1 {
            text-align: center;
        }

        #map-canvas {
            height: 500px;
        }
    </style>

</head>
<body>
    <div class="jumbotron">
        <h1>Indian Color</h1>
    </div>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a id="navHome" class="btn btn-group-justified" href="@Url.Action("Home", "Home")" role="button">HOME</a></li>
                    <li><a id="navAbout" class="btn btn-group-justified" href="@Url.Action("About", "Home")" role="button">ABOUT US</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">MENU<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Appetizers</a></li>
                            <li><a href="#">Soup, Salads & Sides</a></li>
                            <li><a href="#">Entrees</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Desserts</a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("FoodList", "FoodMenuItem")">Full Menu</a></li>
                        </ul>
                    </li>
                    <li><a id="navReservations" class="btn btn-group-justified" href="@Url.Action("Reservations", "Home")" role="button">RESERVATIONS</a></li>
                    <li><a id="navLocation" class="btn btn-group-justified" href="@Url.Action("Contact", "Home")" role="button">LOCATION</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @Html.Partial("_Footer");
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
        Utils.MakeActive('@ViewBag.Title');
    });
</script>